.git
.gitignore
.github
README.md
CHANGELOG.TXT
LICENSE
SECURITY.md
orangehrm-quick-start-guide.html
logo.png
bluelogo.png
.php-cs-fixer.dist.php
phpunit.xml
docker-compose.yml
.dockerignore
Dockerfile
devTools
build
bin
