<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="no-text.png">
  <title>{% block title %}Blue Eagles HRM{% endblock %}</title>
  {% block links %}{% endblock %}
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <style>
    :root {
    {% for key, variable in themeVariables %}
        {{ key }}:{{ variable }};
    {% endfor %}
    }
  </style>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
