.orangehrm-login-layout {
  display: table;
  width: 100%;
  height: 100%;
  @include oxd-respond-to('xs') {
    background-color: $oxd-background-light-gray-color;
  }
  @include oxd-respond-to('md') {
    background-color: $oxd-primary-one-color;
  }
  & {
    --oxd-primary-one-color: #0D3C91;
    --oxd-primary-one-lighten-30-color: #CBD9F1;
    --oxd-white-color: #FFFFFF;
    --oxd-primary-font-color: #0D3C91;
    --oxd-background-pastel-white-color: #CBD9F1;
  }
}
